extends layout

block content
  h1= title
  h2= titlex
  p imul applied to #{x},#{z} is #{imulx}
  p log applied to #{x} is #{logx}
  p log10 applied to #{x} is #{log10x}

  h2=titley
  p imul applied to #{y},#{z} is #{imuly}
  p log applied to #{y} is #{logy}
  p log10 applied to #{y} is #{log10y}